<table style="width:100%">
  <tr>
      <th align = "left"> Titulo </th>
      <th align = "left"> Lanzamiento  </th>
      <th align = "left"> Director  </th>
      <th align = "left"> Productores </th>
      <th align = "left"> Naves</th>
      <th align = "left"> Personajes </th>
      <th align = "left"> Planetas </th>
      <th align = "left"> Numero Episodio </th>
      <th align = "left"> Creada </th>
      <th align = "left"> Editada </th>
  </tr>
  <tr>
  </tr>
  <tr>
  	  <th align = "left"> {{infox2.title}} </th>
      <th align = "left"> {{infox2.releaseDate}} </th>
      <th align = "left"> {{infox2.director}}  </th>
      <th align = "left"> {{infox2.producers}} </th>
      <th align = "left">{% for nombre,id in infox2.naves.items %}
      	<a href="../naves/?id_={{id}}"> {{nombre}}</a>
      	{% endfor %}
      </th>
      <th align = "left">{% for nombre,id in infox2.personajes.items %}
      	<a href="../personajes/?id_={{id}}"> {{nombre}}</a>
      	{% endfor %}
      </th>
      <th align = "left">{% for nombre,id in infox2.planetas.items %}
      	<a href="../planetas/?id_={{id}}"> {{nombre}}</a>
      	{% endfor %}
      </th>
	  <th align = "left"> {{infox2.episodeID}} </th>
	  <th align = "left"> {{infox2.created}} </th>
	  <th align = "left"> {{infox2.edited}} </th>

  </tr>
</table>